/***** R e s p o n s i v e *****/

@media (max-width: 979px) {
    .navbar-top-margin {
        background-color: #E6E6E6;
        min-height: 40px;
        margin-top: -126px;
    }
}

@media (min-width: 980px) {
    .navbar-top-margin {
        background-color: #E6E6E6;
        min-height: 40px;
        margin-top: -127px;
    }
}



/***** H e a d e r *****/

.sign-up-btn {
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
    text-align: center;
    color: #f49108;
    background-color: #fbc01b;
    display: inline;
    float: right;
    margin: -64px 31px 0px 0px;
}

.logo {
    margin-left: 18px;
}

.al-search {
    position: relative;
    margin-top: -80px;
    margin-right: 202px;
    width: 0%;
    min-width: 32px;
    height: 60px;
    float: right;
    overflow: hidden;
 
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
 
    -webkit-backface-visibility: hidden;
}

.al-search-input {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    background: #fff;
    width: 100%;
    height: 60px;
    margin: 0;
    z-index: 10;
    padding: 20px 65px 20px 20px;
    font-family: inherit;
    font-size: 20px;
    color: #2c3e50;
}
 
input[type="search"].al-search-input {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    font-style: italic;
    margin-top: 23px;
}

.al-search-input::-webkit-input-placeholder,
.al-search-input:-moz-placeholder,
.al-search-input::-moz-placeholder,
.al-search-input:-ms-input-placeholder {
    color: #efb480;
}

.al-icon-search,
.al-search-submit  {
    width: 32px;
    height: 31px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 33px;
    text-align: center;
    cursor: pointer;
    margin-top: 23px;
}

.al-search-submit {
    background: #fff; /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
}

.al-icon-search {
    color: #00118D;
    background: #E6E6E6;
    z-index: 90;
    font-size: 22px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}
 
.al-icon-search:before {
    content: "S";
}

.al-search.al-search-open,
.no-js .al-search {
    width: 100%;
}

.al-search.al-search-open .al-icon-search,
.no-js .al-search .al-icon-search {
    background: #3495FF;
    color: #00118D;
    z-index: 11;
}

.al-search.al-search-open .al-search-submit,
.no-js .al-search .al-search-submit {
    z-index: 90;
}



/***** N a v i g a t i o n *****/

.aui #navigation .navbar-inner {
    background: #E6E6E6;
}

.aui .navbar-inner {
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

 .aui .navbar .divider-vertical {
    height: 40px;
    margin: 0 9px;
    border-right: 1px solid #919191;
}

.navbar-bottom-margin {
    background-color: #D8D8D8;
    min-height: 6px;
    margin-bottom: 20px;
}

.aui .navbar {
    margin-bottom: 0px;
}



/***** F o o t e r *****/

#footer {
    height: 61px;
    background-color: #D8D8D8;
    margin-top: 5px;
    display: table;
    width: 100%;
}

#footer div {
    display: table-cell;
    vertical-align: middle;
    padding-left: 26px;
    padding-right: 26px;
}

.footer-company-rights {
    float: left;
    color: #888888;
}

.footer-menu {
    float: right;
}

.footer-menu ul {
    color: #006699;
    float: left;
    margin-left: 20px;
}

.footer-menu li {
    display: inline;
    padding-right: 10px;
}

.footer-menu li a {
    color: #888888;
    text-decoration: none;
}

.footer-menu li a:hover,.footer-bottom li a:visited {
    color: #0099cc;
}