@media (max-width: 979px) {
    .navbar-top-margin {
        background-color: #E6E6E6;
        min-height: 40px;
        margin-top: -126px;
    }
}

@media (min-width: 980px) {
    .navbar-top-margin {
        background-color: #E6E6E6;
        min-height: 40px;
        margin-top: -127px;
    }
}

#footer {
    height: 61px;
    background-color: #D8D8D8;
    margin-top: 5px;
}

.aui #navigation .navbar-inner {
    background: #D8D8D8;
}

.logo {
    margin-left: 18px;
}
